*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: auto;
    max-width: 300px;
    height: 470px;
    margin-top: 100px;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #9e9d9d;
}

figure img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -2px;
    margin-top: -2px;
   
}

figcaption{
    margin-top: 20px;
    text-align: center;

}

.title{
    font-size: 20px;
    padding-bottom: 20px;
}

.paragraph{
    font-size: 10px;
    color: grey;
}

.annualPlanOption{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    width: 242px;
    margin-left: 26px;
    margin-top: 30px;
    padding: 15px;
}

.musicImageWithText{
    display: flex;
    align-items: center;
    font-size: 12px;
}

.changeLink{
    font-size: 10px; 
}

.changeLink:hover{
    color:hsl(249, 71%, 56%);
}

button{
    background-color: hsl(245, 75%, 52%);
    padding: 10px 60px 10px 60px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 5px 20px #9e9d9d;
}

button:hover{
    background-color:hsl(249, 71%, 56%);
}

.cancelOrderLink{
    font-size: 10px;
    text-decoration: none;
    color: blue;

}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a {
     color: hsl(228, 45%, 44%); 
}











